.search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.instructions {
  text-align: center;
  font-size: 15px;
}
.mb-2,
.btn {
  margin: 0px 5px;
}
section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
