.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
li {
  font-size: 15px;
  padding: 6px;
  border: 1px solid #ffc900;
  border-radius: 20px;
  margin: 3px;
}
li:hover {
  border: 1px solid gray;
}
